{% extends 'survey/base.html' %}
{% block head_block %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}
{% block body_block %}
<div class="container">
  <div class="page-header">
    <h1>{{ branch_name }}台账明细</h1>
  </div>
<div id="myChart2" ></div>
<div id="myChart1"></div>
<script>$(function () {
    $('#myChart1').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '人员登记比重'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: '人员名称',
            colorByPoint: true,
            data: [{% for key,value in name.items %}
            {
                name: '{{ key }}',
                y: {{ value }}
            },
            {% endfor %}
                ]
        }]
    });

});</script>
<div class="bs-example" data-example-id="simple-table">
    <table class="table table-bordered table-condensed">
      <caption>登记明细</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>客户姓名</th>
          <th>所属市场</th>
          <th>活利盈</th>
          <th>收款宝</th>
          <th>随薪通准贷记卡</th>
          <th>卡卡通</th>
          <th>通联资金归集</th>
          <th>登记人员</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody >
      {% for ls in ls_all %}
          <tr>
          <th scope="row">{{ forloop.counter }}</th>
          {% for a in ls %}
              <td>{{ a }}</td>
          {% endfor %}
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
<a href="./" class="btn btn-primary   btn-block" role="button">返回首页</a>
</div>
{% endblock %}