{% extends 'survey/base.html' %}
{% block body_block %}
    <div class="container ">
    <form class="form-inline" >

<!-- Form Name -->
<legend>金秋市场综合营销活动台账</legend>

    <h4>请选择经办人：</h4>
<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
    <ul class="nav nav-pills" id="myTabs" role="tablist">
      <li class="active" role="presentation"><a id="0071-tab" role="tab" aria-expanded="true" aria-controls="0071" href="#0071" data-toggle="tab">九沙支行</a></li>
      <li role="presentation"><a id="0169-tab" role="tab" aria-expanded="false" aria-controls="0169" href="#0169" data-toggle="tab">月雅路支行</a></li>
      <li role="presentation"><a id="0332-tab" role="tab" aria-expanded="false" aria-controls="0332" href="#0332" data-toggle="tab">朝阳支行</a></li>
      <li role="presentation"><a id="0333-tab" role="tab" aria-expanded="false" aria-controls="0333" href="#0333" data-toggle="tab">营业中心</a></li>
      <li role="presentation"><a id="0335-tab" role="tab" aria-expanded="false" aria-controls="0335" href="#0335" data-toggle="tab">德胜东路支行</a></li>
      <li><a id="tab2" href="#chart2" role="tab" data-toggle="tab">统计</a></li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade active in" id="0071" role="tabpanel" aria-labelledby="0071-tab">
          <br />
        <div class="">
          <a href="login?branch=九沙支行&worker=马尧新" class="btn btn-default  active btn-block" role="button">马尧新</a>
          <a href="login?branch=九沙支行&worker=陈帅" class="btn btn-default  active btn-block" role="button">陈帅</a>
          <a href="login?branch=九沙支行&worker=陈丽" class="btn btn-default  active btn-block" role="button">陈丽</a>
          <a href="login?branch=九沙支行&worker=赵蓬蓬" class="btn btn-default  active btn-block" role="button">赵蓬蓬</a>
          <a href="login?branch=九沙支行&worker=俞亦冰" class="btn btn-default  active btn-block" role="button">俞亦冰</a>
          <a href="login?branch=九沙支行&worker=张敏仪" class="btn btn-default  active btn-block" role="button">张敏仪</a>
          <a href="login?branch=九沙支行&worker=庞洁神" class="btn btn-default  active btn-block" role="button">庞洁神</a>
          <a href="login?branch=九沙支行&worker=陈环" class="btn btn-default  active btn-block" role="button">陈环</a>
          <a href="login?branch=九沙支行&worker=朱佳敏" class="btn btn-default  active btn-block" role="button">朱佳敏</a>
          <a href="login?branch=九沙支行&worker=奚俊英" class="btn btn-default  active btn-block" role="button">奚俊英</a>
          <a href="login?branch=九沙支行&worker=陈建伟" class="btn btn-default  active btn-block" role="button">陈建伟</a>
        </div>
      </div>
      <div class="tab-pane fade" id="0169" role="tabpanel" aria-labelledby="0169-tab">
          <br />
        <a href="login?branch=月雅路支行&worker=陈雅飞" class="btn btn-default  active btn-block" role="button">陈雅飞</a>
        <a href="login?branch=月雅路支行&worker=陈琴" class="btn btn-default  active btn-block" role="button">陈琴</a>
        <a href="login?branch=月雅路支行&worker=沈建芬" class="btn btn-default  active btn-block" role="button">沈建芬</a>
        <a href="login?branch=月雅路支行&worker=冯利芳" class="btn btn-default  active btn-block" role="button">冯利芳</a>
        <a href="login?branch=月雅路支行&worker=徐芮" class="btn btn-default  active btn-block" role="button">徐芮</a>
        <a href="login?branch=月雅路支行&worker=蒋姚威" class="btn btn-default  active btn-block" role="button">蒋姚威</a>
        <a href="login?branch=月雅路支行&worker=王颖" class="btn btn-default  active btn-block" role="button">王颖</a>
        <a href="login?branch=月雅路支行&worker=汤清峰" class="btn btn-default  active btn-block" role="button">汤清峰</a>
        <a href="login?branch=月雅路支行&worker=郑建栋" class="btn btn-default  active btn-block" role="button">郑建栋</a>
        <a href="login?branch=月雅路支行&worker=葛星程" class="btn btn-default  active btn-block" role="button">葛星程</a>
        <a href="login?branch=月雅路支行&worker=王卡尔" class="btn btn-default  active btn-block" role="button">王卡尔</a>
        <a href="login?branch=月雅路支行&worker=肖爽" class="btn btn-default  active btn-block" role="button">肖爽</a>
      </div>
      <div class="tab-pane fade" id="0332" role="tabpanel" aria-labelledby="0332-tab">
          <br />
        <a href="login?branch=朝阳支行&worker=陈柏柱" class="btn btn-default  active btn-block" role="button">陈柏柱</a>
        <a href="login?branch=朝阳支行&worker=封燕萍" class="btn btn-default  active btn-block" role="button">封燕萍</a>
        <a href="login?branch=朝阳支行&worker=周莉" class="btn btn-default  active btn-block" role="button">周莉</a>
        <a href="login?branch=朝阳支行&worker=王志伟" class="btn btn-default  active btn-block" role="button">王志伟</a>
        <a href="login?branch=朝阳支行&worker=施雯雅" class="btn btn-default  active btn-block" role="button">施雯雅</a>
        <a href="login?branch=朝阳支行&worker=徐凌鹏" class="btn btn-default  active btn-block" role="button">徐凌鹏</a>
        <a href="login?branch=朝阳支行&worker=朱郦萍" class="btn btn-default  active btn-block" role="button">朱郦萍</a>
        <a href="login?branch=朝阳支行&worker=潘国勇" class="btn btn-default  active btn-block" role="button">潘国勇</a>
        <a href="login?branch=朝阳支行&worker=王萍" class="btn btn-default  active btn-block" role="button">王萍</a>
        <a href="login?branch=朝阳支行&worker=娄茜" class="btn btn-default  active btn-block" role="button">娄茜</a>
        <a href="login?branch=朝阳支行&worker=李燕娜" class="btn btn-default  active btn-block" role="button">李燕娜</a>
        <a href="login?branch=朝阳支行&worker=黄京霞" class="btn btn-default  active btn-block" role="button">黄京霞</a>
        <a href="login?branch=朝阳支行&worker=沈婵媛" class="btn btn-default  active btn-block" role="button">沈婵媛</a>
        <a href="login?branch=朝阳支行&worker=乐仁贵" class="btn btn-default  active btn-block" role="button">乐仁贵</a>
        <a href="login?branch=朝阳支行&worker=李大卫" class="btn btn-default  active btn-block" role="button">李大卫</a>
        <a href="login?branch=朝阳支行&worker=吴钧涛" class="btn btn-default  active btn-block" role="button">吴钧涛</a>
        <a href="login?branch=朝阳支行&worker=王雷霞" class="btn btn-default  active btn-block" role="button">王雷霞</a>
      </div>
      <div class="tab-pane fade" id="0333" role="tabpanel" aria-labelledby="0333-tab">
          <br />
        <a href="login?branch=营业中心&worker=赵绿弟" class="btn btn-default  active btn-block" role="button">赵绿弟</a>
        <a href="login?branch=营业中心&worker=汪蓓" class="btn btn-default  active btn-block" role="button">汪蓓</a>
        <a href="login?branch=营业中心&worker=吴振国" class="btn btn-default  active btn-block" role="button">吴振国</a>
        <a href="login?branch=营业中心&worker=林朝霞" class="btn btn-default  active btn-block" role="button">林朝霞</a>
        <a href="login?branch=营业中心&worker=沈宏萍" class="btn btn-default  active btn-block" role="button">沈宏萍</a>
        <a href="login?branch=营业中心&worker=厉万骁" class="btn btn-default  active btn-block" role="button">厉万骁</a>
        <a href="login?branch=营业中心&worker=周雅娟" class="btn btn-default  active btn-block" role="button">周雅娟</a>
        <a href="login?branch=营业中心&worker=汤海娣" class="btn btn-default  active btn-block" role="button">汤海娣</a>
        <a href="login?branch=营业中心&worker=叶亮" class="btn btn-default  active btn-block" role="button">叶亮</a>
        <a href="login?branch=营业中心&worker=沈冬冬" class="btn btn-default  active btn-block" role="button">沈冬冬</a>
        <a href="login?branch=营业中心&worker=朱敏敏" class="btn btn-default  active btn-block" role="button">朱敏敏</a>
        <a href="login?branch=营业中心&worker=林琴 " class="btn btn-default  active btn-block" role="button">林琴 </a>
        <a href="login?branch=营业中心&worker=莫罗妮" class="btn btn-default  active btn-block" role="button">莫罗妮</a>
        <a href="login?branch=营业中心&worker=王星星" class="btn btn-default  active btn-block" role="button">王星星</a>
        <a href="login?branch=营业中心&worker=金利" class="btn btn-default  active btn-block" role="button">金利</a>
        <a href="login?branch=营业中心&worker=李清清" class="btn btn-default  active btn-block" role="button">李清清</a>
        <a href="login?branch=营业中心&worker=莫秋伟" class="btn btn-default  active btn-block" role="button">莫秋伟</a>
        <a href="login?branch=营业中心&worker=宣佳卉" class="btn btn-default  active btn-block" role="button">宣佳卉</a>
      </div>
      <div class="tab-pane fade" id="0335" role="tabpanel" aria-labelledby="0335-tab">
          <br />
        <a href="login?branch=德胜东路支行&worker=吴芬" class="btn btn-default  active btn-block" role="button">吴芬</a>
        <a href="login?branch=德胜东路支行&worker=滕菲" class="btn btn-default  active btn-block" role="button">滕菲</a>
        <a href="login?branch=德胜东路支行&worker=曹华娟" class="btn btn-default  active btn-block" role="button">曹华娟</a>
        <a href="login?branch=德胜东路支行&worker=汪琦" class="btn btn-default  active btn-block" role="button">汪琦</a>
        <a href="login?branch=德胜东路支行&worker=葛晓玲" class="btn btn-default  active btn-block" role="button">葛晓玲</a>
        <a href="login?branch=德胜东路支行&worker=胡灶娟" class="btn btn-default  active btn-block" role="button">胡灶娟</a>
        <a href="login?branch=德胜东路支行&worker=潘梦怡" class="btn btn-default  active btn-block" role="button">潘梦怡</a>
        <a href="login?branch=德胜东路支行&worker=王琴" class="btn btn-default  active btn-block" role="button">王琴</a>
        <a href="login?branch=德胜东路支行&worker=沃冬冬" class="btn btn-default  active btn-block" role="button">沃冬冬</a>
        <a href="login?branch=德胜东路支行&worker=杨彬" class="btn btn-default  active btn-block" role="button">杨彬</a>
        <a href="login?branch=德胜东路支行&worker=孔凯杰" class="btn btn-default  active btn-block" role="button">孔凯杰</a>
        <a href="login?branch=德胜东路支行&worker=沈珠慧" class="btn btn-default  active btn-block" role="button">沈珠慧</a>
      </div>
      <div class="tab-pane" id="chart2">
        <canvas id="myChart2" width="400" height="400"></canvas>
          <br />
          <a href="" class="btn btn-primary   btn-block" role="button">九沙支行明细</a>
          <a href="" class="btn btn-primary   btn-block" role="button">月雅路支行明细</a>
          <a href="" class="btn btn-primary   btn-block" role="button">朝阳支行明细</a>
          <a href="" class="btn btn-primary   btn-block" role="button">营业中心明细</a>
          <a href="" class="btn btn-primary   btn-block" role="button">德胜东路明细</a>
      </div>

	<script>
        $(function() {
    'use strict';

    var line_chart_options = {

    };
    var data = {
        labels: ["九沙支行", "月雅路支行", "朝阳支行", "营业中心", "德胜东路支行","总计"],
        datasets: [
            {
                label: "任务数",
                backgroundColor: "rgba(151,187,205,0.5)",
                borderColor: "rgba(151,187,205,1)",
                data: [100, 100, 100, 100, 100, 500]
            },
            {
                label: "已登记客户数",
                backgroundColor: "rgba(220,220,220,0.5)",
                borderColor: "rgba(220,220,220,1)",
                data: [28, 48, 40, 19, 86, 221]
            }
        ]
    };

    var ctx2 = $("#myChart2").get(0).getContext("2d");
    var myLineChart2;

    $('#tab1').on('shown.bs.tab', function (e) {
        myLineChart2.destroy();
    });

    $('#tab2').on('shown.bs.tab', function (e) {
        var ctx = document.getElementById("myChart2").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: data,
                options:  {
                    responsive: true,
                }
            });

    });
});
    </script>



      </div>

    </div>
  </div>

</form>

    </div>
{% endblock %}