{% extends 'base.html' %}
{% load staticfiles %}
{% block head_block %}
<link href="{% static "css/client.css" %}" rel="stylesheet">
{% endblock %}
{% block body_block %}
<div class="container">
<header class="page-header" ><h1>专业市场麦克系统</h1></header>
<form>
    <div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="请输入查询内容">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">查询</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</form>
</br>
<header class="page-header" style="text-align: left" ><h3>{{ user }}的今日目标客户</h3></header>
<div class="btn-group-xs" role="group" aria-label="...">
  {% for client in clients %}
  <form class="btn-group" role="group" action="client-info" >
    <button type="submit" class="btn btn-default btn-block" value="{{ client }}" name="client" >{{ client }}</button>
  </form>
  {% endfor %}
</div>


</div>

{% endblock %}