{% extends 'base.html' %}
{% load staticfiles %}
     {% block head_block %}
         <script src="{% static "js/moment.js" %}" xmlns="http://www.w3.org/1999/html"
                 xmlns="http://www.w3.org/1999/html"></script>
      <script src="{% static "js/Chart.min.js" %}"></script>
     {% endblock %}
{% block body_block %}
<div class="container">
    <div class="page-header">
        <h1>{{ client }}</h1>
    </div>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a>基础信息</a></li>
  <li role="presentation"><a href="client-client-pd?client={{ client }}">受理产品</a></li>
  <li role="presentation"><a href="client-client-need?client={{ client }}">需求</a></li>
</ul>
<div class="row">
  <div class="col-md-6"><h4>客户性别：</h4>男</div>
  <div class="col-md-6"><h4>联系方式：</h4>1367673****</div>
</div>
<div class="row">
  <div class="col-md-6"><h4>地址：</h4>杭州余杭区胜稼村杭海路1088-3号沈大居住右侧</div>
  <div class="col-md-6"><h4>户籍地址:</h4>杭州余杭区</div>
</div>
<hr>
<div class="row">
  <div class="col-md-12"><label class="h4">已办理我行产品：<span class="badge" style="background-color: #337AB7">4</span></label>
      <span class="label label-primary">智付通</span>
      <span class="label label-primary">活利盈</span>
      <span class="label label-primary">商惠通卡</span>
      <span class="label label-primary">贵宾卡客户</span>
      <span class="label label-default">理财产品</span>
      <span class="label label-default">资金归集</span>
  </div>
</div>
<hr>
<div class="row">
<div class="col-lg-6"><label class="h4">本年我行资金变动：</label></div>
<div class="col-lg-6">
    <ul class="list-inline">
       <li style="color:#DCDCDC;">————</li>流动资金
       <li style="color:#97BBCD;">————</li>定期存款+理财
</ul>
</div>
		<div >
			<div>
				<canvas id="canvas" ></canvas>
			</div>
		</div>


	<script>
		var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
		var lineChartData = {
			labels : ["一月","二月","三月","四月","五月","六月","七月","八月","九月"],
			datasets : [
				{
					label: "流动资金",
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
				},
				{
					label: "固定存款+理财",
					fillColor : "rgba(151,187,205,0.2)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(151,187,205,1)",
					data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
				}
			]

		}
	window.onload = function(){
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myLine = new Chart(ctx).Line(lineChartData, {
			responsive: true
		});
	};
	</script>
</div>
</div>
{% endblock %}