{% extends 'client-base.html' %}
{% load staticfiles %}
     {% block head_block %}
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/Chart.js" %}"></script>
     {% endblock %}

    {% block clientbase %}
<div class="row">
  <div class="col-md-6"><h4>客户性别：</h4>{{ gender }}</div>
  <div class="col-md-6"><h4>联系方式：</h4>{{ phone }}</div>
</div>
<div class="row">
  <div class="col-md-6"><h4>地址：</h4><a href='http://map.baidu.com/mobile/webapp/search/search/qt=s&wd={{ address }}/%3Fthird_party=uri_api&vt=map&ecom=0'>
      {{ address }}</a></div>
  <div class="col-md-6"><h4>户籍地址:</h4>杭州余杭区</div>
</div>
<HR>
<div class="row">
  <div class="col-md-12"><label class="h4">已办理我行产品：<span class="badge" style="background-color: #337AB7">2</span></label>
      <span class="label label-primary">智付通</span>
      <span class="label label-primary">贵宾卡客户</span>
      <span class="label label-default">商惠通卡</span>
      <span class="label label-default">活利盈</span>
      <span class="label label-default">理财产品</span>
      <span class="label label-default">资金归集</span>
  </div>
</div>
<hr>
<div class="row">
<div class="col-lg-6"><label class="h4">近期我行资金变动：</label></div>
<div class="col-lg-6">
    <ul class="list-inline">
       <li style="color:#DCDCDC;">————</li>流动资金
       <li style="color:#97BBCD;">————</li>定期存款+理财
</ul>
</div></div>
<div id="canvas-holder1">
        <canvas id="chart1">
    </div>
    <script>

    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };
		var lineChartData = {
			labels : ["一月","二月","三月","四月","五月","六月","七月","八月","九月"],
			datasets : [
				{
					label: "流动资金",
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
				},
				{
					label: "固定存款+理财",
					fillColor : "rgba(151,187,205,0.2)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(151,187,205,1)",
					data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
				}
			]
		};

    window.onload = function() {
        var chartEl = document.getElementById("chart1");
        window.myLine = new Chart(chartEl, {
            type: 'line',
            data: lineChartData,
        });
    };
    </script>
</div>
{% endblock %}

