{% extends 'client-base.html' %}
{% block clientbase %}
<ul >
    <li>根据该客户本年对外转账次数大于<mark class="lead">100</mark>次，收到异地转账次数大于<mark class="lead">100</mark>次，被收取手续费<mark class="lead">65</mark>次的数据判断，该客户应对<mark class="lead">随薪通准贷记卡</mark>较感兴趣，推荐办理。</li>
    <li>根据该客户本年活期存款与定期存款相互转变比例超过<mark class="lead">50%</mark>判断，该客户应对<mark class="lead">活利盈产品</mark>较感兴趣。根据近一年存款记录计算，活利盈到期最大收益为<mark class="lead">4101.32元</mark>，推荐办理。</li>
    <li>根据客户农行系统内总资产已达到贵宾卡等级，但资金分散（<mark class="lead">30%</mark>自己分散在别的支行），建议办理<mark class="lead">收款宝</mark>，归集资金已提升客户等级 </li>
</ul>

{% endblock %}