{% extends 'base.html' %}
{% load staticfiles %}
{% block head_block %}
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
{% endblock %}
{% block body_block %}
 {% if registered %}
 <div class="container" align="center">
 <h1><strong>用户注册完成</strong></h1>
 <h2><a href="/">返回首页</a><br /></h2>
</div>
 {% else %}
<div class="container">

      <form class="form-signin" name="user_form" method="post" action="/register" >
      <h1 class="form-signin-heading">ICS注册</h1>
          <h6 class="alert-danger">{{ error1 }}</h6>
          <h6 class="alert-danger">{{ error2 }}</h6>
      {% csrf_token %}
        <label for="username" class="sr-only">username</label>
        <input type="username" name="username" class="form-control" placeholder="用户名" required="" value="" autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required="" value="">
        <label for="phone" class="sr-only">phone</label>
        <input type="phone" name="phone" class="form-control" placeholder="手机号" required="" maxlength="11" value="">
        <select class="form-control" name="branch" >
        <option value="0071">九沙支行</option>
        <option value="0169">月雅路支行</option>
        <option value="0332">朝阳支行</option>
        <option value="0333">营业中心</option>
        <option value="0335">德胜东路支行</option>
        </select>
        <input class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="注册" />
      </form>
 </div>
 {% endif %}
 

{% endblock %}